<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Odpowiedzi ankietowanych</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Created at</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Age</th>
        <th>Czy chciałbyś wyjechać na wakacje z biurem podróży?</th>
        <th>W jakim miesiącu chciałbyś wyjechać na wakacje?</th>
        <th>Dokąd chciałbyś wyjechać na wakacje?</th>
        <th>W jakim miejscu chciałbyś spędzić wakacje?</th>
        <th>Na ile aktywnie spędzasz swoje wakacje?</th>
        <th>Z kim zazwyczaj wyjeżdżasz na wakacje?</th>
        <th>Ile pieniędzy przeznaczasz na wakacyjny wyjazd?</th>
        <th>Ile dni chcesz przeznaczyć na wyjazd wakacyjny?</th>
        <th>Jaki środek transportu preferujesz, aby dosać się na urlop?</th>
        <th>Jakie są twoje preferencje żywieniowe podczas urlopu?</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at }}</td>
        <td>{{ element.gender }}</td>
        <td>{{ element.email }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.income }}</td>
        <td>{{ element.month }}</td>
        <td>{{ element.q1 }}</td>
        <td>{{ element.q2 }}</td>
        <td>{{ element.q3 }}</td>
        <td>{{ element.q4 }}</td>
        <td>{{ element.q5 }}</td>
        <td>{{ element.q6 }}</td>
        <td>{{ element.q7 }}</td>
        <td>{{ element.q8 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
