<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome to my questionnaire</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>

  <div class="page-header">
    <h1>Chose the next step</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-success" role="button">Fill the form</a>
    <a href="/result" class="btn btn-primary" role="button">Review results</a>
  </p>


{% endblock %}

