<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Witaj!</h1>
    <p>Cieszymy się, że zdecydowałeś się wziąć udział w naszej ankiecie. Dziękujemy za twój poświęcony czas.</br></br>
      Celem naszej ankiety jest sprawdzenie jak studenci najchętniej spędzają wakacje. </br></br>
      Autorami ankiety są: </br>
      Milena Dworak, Anna Golińska, </br> Michał Nazimek, Piotr Pańtak, Tadeusz Popiela
    </p>

  </div>

  <p>
    <a href="/form" class="btn btn-success" role="button">Wypełnij ankietę</a>
     <!-- <a href="/result" class="btn btn-primary" role="button">Zobacz odpowiedzi</a> -->
  </p>


{% endblock %}

